@{
    ViewData["Title"] = "DeliverAsync";
}

<body>
    <script src="~/js/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>



    <h2>Put goods</h2>
    <form asp-controller="Home" asp-action="DeliverAsync"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace">

        <label>Goods</label>
        <input name="goods" value="Coffee,Tea,Juice,Pepsi,Fanta" />

        <input type="submit" value="Отправить" />
    </form>

    <div id="goods"></div>

    <script>

        let hubUrl = 'http://localhost:27961/deliver';
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl(hubUrl)
            .configureLogging(signalR.LogLevel.Information)
            .build();

        hubConnection.start().then(function () {

            hubConnection.invoke("SendMessageAsync", "Connected");

        });

        hubConnection.on("SendMessage", function (data) {

            let elem = document.createElement("p");
            elem.appendChild(document.createTextNode(data));
            let firstElem = document.getElementById("goods").firstChild;
            document.getElementById("goods").insertBefore(elem, firstElem);

        });

        hubConnection.start();
    </script>
</body>