akka {  
    actor {
        provider = remote
		serialize-messages = on
		serializers	{
			hyperion = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
		}
		serialization-bindings {
			"System.Object" = hyperion
		}
    }
    remote {
        helios.tcp {
            port = 8081
            hostname = 0.0.0.0
            public-hostname = localhost
			maximum-frame-size = 500000b
        }
    }
}